---
title: deCAFE vol.2 アーカイブ - deCAFE

contentTitle: deCAFE vol.2

contentDescription1: deCAFE vol.2 のテーマは「さかさま」。
contentDescription2: 主な対象はデザイナー、もしくは何かしらのデザインをしている人。
contentDescription3: 主催の友人知人で興味を持ってくれた方に集まってもらいました。
---

section#dcf-resume

  .row.container.dcf-resume-box
    h3 イベント概要
    ul.list-group
      li.list-group-item 日時：2014年10月31日（土） 14:00〜17:00
      li.list-group-item 場所：渋谷区恵比寿
      li.list-group-item テーマ：「違い」
      li.list-group-item 対象：デザイナー、もしくは何かしらのデザインをしている人（主催の友人知人限定）
      li.list-group-item 定員：16名

  .row.container.dcf-resume-box
    .col-xs-12.col-md-4
      a href="http://peatix.com/event/48035" target="_blank" role="button" class="btn btn-success btn-block"
        | Peatix 申込みページ
    .col-xs-12.col-md-4
      a href="https://www.facebook.com/events/696672293733255/704657522934732/" target="_blank" role="button" class="btn btn-info btn-block"
        | Facebook イベントページ
    .col-xs-12.col-md-4
      a href="https://www.flickr.com/photos/hitoyam/sets/72157646920615347/" target="_blank" role="button" class="btn btn-warning btn-block"
        | Flickr アルバム

section#dcf-section

  .row.container.dcf-section-box

    .row.container.dcf-section-box-img-eyecatch
      img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"

    h3 アイスブレイクの様子
    p
      | こんなことをしました。こんなことをしました。こんなことをしました。こんなことをしました。こんなことをしました。こんなことをしました。こんなことをしました。こんなことをしました。こんなことをしました。こんなことをしました。こんなことをしました。こんなことをしました。こんなことをしました。
    .row.container.dcf-section-box-img
      .col-xs-6.col-md-3.col-change
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-6.col-md-3.col-change
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-6.col-md-3.col-change
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-6.col-md-3.col-change
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-6.col-md-3.col-change
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-6.col-md-3.col-change
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-6.col-md-3.col-change
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"

  .row.container.dcf-section-box
    h3 メインワークの様子
    p
      | こんなことをしました。こんなことをしました。こんなことをしました。こんなことをしました。こんなことをしました。こんなことをしました。こんなことをしました。こんなことをしました。こんなことをしました。こんなことをしました。こんなことをしました。こんなことをしました。こんなことをしました。
    .row.container.dcf-section-box-img
      .col-xs-6.col-md-3.col-change
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-6.col-md-3.col-change
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-6.col-md-3.col-change
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-6.col-md-3.col-change
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-6.col-md-3.col-change
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-6.col-md-3.col-change
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-6.col-md-3.col-change
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"

  .row.container.dcf-section-box
    h3 リフレクションの様子
    p
      | こんなことをしました。こんなことをしました。こんなことをしました。こんなことをしました。こんなことをしました。こんなことをしました。こんなことをしました。こんなことをしました。こんなことをしました。こんなことをしました。こんなことをしました。こんなことをしました。こんなことをしました。
    .row.container.dcf-section-box-img
      .col-xs-6.col-md-3.col-change
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-6.col-md-3.col-change
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-6.col-md-3.col-change
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-6.col-md-3.col-change
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-6.col-md-3.col-change
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-6.col-md-3.col-change
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-6.col-md-3.col-change
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
