---
title: About “deCAFE” deCAFE って何？ - deCAFE

ogDescription: 

contentTitle: About “deCAFE”
contentSubTitle: deCAFE って何？

contentDescription1: deCAFE は参加者の思考や気持ち「いつもよりちょっと遠いところ」まで
contentDescription2: 連れていけるようなワクワクを目指した大人向けワークショップ形式のイベントです。
---

section#dcf-section

  .row.container.dcf-section-box
    h3 ワークショップ、やってます
    p
      | deCAFE では、誰かと一緒にいろんな道のりを通って、ひとりでは行けない場所にたどり着くまでのガイド的存在をイメージしながら、ワークショップを行っています。回ごとに違うテーマとプログラムを設定して、新鮮なワークをお届けしています。
    .row.container.dcf-section-box-img
      img src="/shared/img/about-img-top.jpg" alt="deCAFE の様子" class="img-thumbnail"
    h4 やらないことを決めています
    ul
      li 勉強会とかセミナー形式にはしない
      li 教えたり教えられたりはしない
      li 成果物の持ち寄りはしない
    h4 「deCAFE タイム」が特徴です
    p
      | それぞれが感じたモノやコトを共有しながら、「交流」×「気づき」の中で美味しいコーヒーを飲む時間を設けています。私たちはそれを「deCAFE タイム」と呼んで親しんでいます。そうした時間をプログラムに組み込んでしまうことで、より深い体験となってくれることを意図しています。

  .row.container.dcf-section-box
    h3 deCAFE の目的は三段階で
    p
      | deCAFE で行うワークショップの目的は、多段階になっています。できるだけ楽しみながら目的を通過していけるようなプログラム作りを目指していますが、実は参加者にとってはどこがゴールでもOK！ 誰かと一緒に何かすることを楽しむことがゴールでもいいし、その時の気持ちを話して共有することがゴールでもいいのです。参加者のペースを大事にできたらいいなと思っています。
    h4 三段階の目的
    ol
      li 仮の目的：楽しみながら他者と協働する
      li 中間目的：作る過程で得た「何か」を可視化して共有する
      li 真の目的：可視化 → 共有 → 発見 → 可視化 → 共有 → 発見 … のスパイラルを生み出す
    .row.container.dcf-section-box-img
      img src="/shared/img/about-img-01.png" alt="三段階の目的の図"

  .row.container.dcf-section-box
    h3 可視化、共有、発見のスパイラル
    p
      | deCAFE では、自分なりの「答え」と他人との間の「納得解」の両方を見つけてもらいたいと思っています。そのためには、可視化、共有、発見のスパイラルが重要だと考えているので、真の目的として位置付けています。結果として、ひとりでは見つけにくい自分の伸びしろを見つけてもらえたらいいなぁ！ という期待も込めて、イベントやプログラムを企画しています。
    ol
      li 自身を見つめる助けとなる「可視化」 → 頭の中にだけあるものを見えるようにする
      li 他人の頭の中を覗くための「可視化」 → 見えるものは道具として使えるようになる
      li 見える道具を使いながらじっくり会話をすることで「共有」や「発見」につながる
    .row.container.dcf-section-box-img
      img src="/shared/img/about-img-02.png" alt="可視化、共有、発見のスパイラルの図"

  .row.container.dcf-section-box
    h3 誰が作っているの？
    p
      | deCAFE運営チームの4人が企画・運営を行っています。メンバーそれぞれが自分の得意分野を活かしながら、役割分担。準備段階では積極的にロールプレイを行って、ワークの感触を確かめています。何より、メンバー自身が楽しめる内容であるかどうかも大事なのです！
    .row.container.dcf-section-box-img
      .col-xs-6.col-sm-3.col-md-3
        img src="/shared/img/about-img-03.jpg" alt="ワーク作りMTGも楽しみながらやっています" class="img-thumbnail"
      .col-xs-6.col-sm-3.col-md-3
        img src="/shared/img/about-img-04.jpg" alt="感触を確かめながらワークを考えています" class="img-thumbnail"
      .col-xs-6.col-sm-3.col-md-3
        img src="/shared/img/about-img-05.jpg" alt="開催直前の最終打ち合わせも念入りに" class="img-thumbnail"
      .col-xs-6.col-sm-3.col-md-3
        img src="/shared/img/about-img-06.jpg" alt="イベントがはじまったら役割分担ごとに動きます" class="img-thumbnail"





