---
title: deCAFE Modules
contentTitle: Modules
contentSubTitle: 使用モジュール一覧
contentDescription1: deCAFE サイトで使用するモジュール。
contentDescription2: トップページを除く全てのページで利用可。
---

section#dcf-resume

  .row.container.dcf-resume-box
    h3 イベント概要
    ul.list-group
      li.list-group-item 日時：2014年10月31日（土） 14:00〜17:00
      li.list-group-item 場所：渋谷区恵比寿
      li.list-group-item テーマ：「テーマタイトル」
      li.list-group-item 対象：誰でも
      li.list-group-item 定員：∞名

  .row.container.dcf-resume-box
    .col-xs-12.col-md-4
      a href="" target="_blank" role="button" class="btn btn-success btn-block"
        | Doorkeeper 申込みページ
    .col-xs-12.col-md-4
      a href="" target="_blank" role="button" class="btn btn-info btn-block"
        | Facebook イベントページ
    .col-xs-12.col-md-4
      a href="" target="_blank" role="button" class="btn btn-warning btn-block"
        | Flickr アルバム

section#dcf-section

  .row.container.dcf-section-box

    .row.container.dcf-section-box-img-eyecatch
      img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"

    h3 コンテンツセクション・大見出し

    h4 コンテンツセクション・パラグラフ
    p
      | deCAFEはガイドしなの発見や大人「ことにをちょっと遠い中」としてといますますちょっとよりした大人し自分のおします。大人をは、誰かとガイドをそうした大人をして自分に込め連れの思考的発見と設定連れを、大人をしています。連れしなを設け連れと設定でガイド見つけて、重要ます自分におひとりしなを大人せてた。
    p
      | 私たちはそれで「deCAFE大人」としてして見つけな。それぞれで設定をとくれるた、ことに遠いガイドに込めといことより発見しといます。自分をは、大人なりの「連れ」とひとりをのワークショップの「思考発見」設けてとしてといます。発見、思考のイベントや重要ますと見つけていて、ひとりの大人として込めています。

    h4 コンテンツセクション・リスト
    ul
      li 勉強会とかセミナー形式にはしない
      li 教えたり教えられたりはしない
      li 成果物の持ち寄りはしない
    ol
      li 勉強会とかセミナー形式にはしない
      li 教えたり教えられたりはしない
      li 成果物の持ち寄りはしない

    h4 コンテンツセクション・段落引用
    blockquote
      p deCAFEはガイドしなの発見や大人「ことにをちょっと遠い中」としてといますますちょっとよりした大人し自分のおします。大人をは、誰かとガイドをそうした大人をして自分に込め連れの思考的発見と設定連れを、大人をしています。連れしなを設け連れと設定でガイド見つけて、重要ます自分におひとりしなを大人せてた。
      p 私たちはそれで「deCAFE大人」としてして見つけな。それぞれで設定をとくれるた、ことに遠いガイドに込めといことより発見しといます。自分をは、大人なりの「連れ」とひとりをのワークショップの「思考発見」設けてとしてといます。発見、思考のイベントや重要ますと見つけていて、ひとりの大人として込めています。

    h4 コンテンツセクション・テーブル
    table
      thead
        tr
          th scope="col" テキスト
          th テキスト
          th テキスト
          th 
        tbody
          tr
            td テキスト
            td テキスト
            td テキスト
            td テキスト
    table
      tbody
        tr
          th scope="row" テキスト
          td テキスト
          td テキスト
          td テキスト
        tr
          th scope="row" テキスト
          td テキスト
          td テキスト
          td テキスト
        tr
          th scope="row" テキスト
          td テキスト
          td テキスト
          td テキスト

    h4 コンテンツセクション・画像

    h5 画像：枠あり、1カラム（100%）
    p 枠なしの場合は img から .img-thumbnail を削除
    .row.container.dcf-section-box-img
      img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
    .row.container.dcf-section-box-img
      img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"

    h5 画像：枠あり、1カラム（サイズそのまま）
    p 枠なしの場合は img から .img-thumbnail を削除
    .row.container.dcf-section-box-img-keep
      img src="/shared/img/dummy-image2.jpg" alt="dummy image" class="img-thumbnail"
    .row.container.dcf-section-box-img-keep
      img src="/shared/img/dummy-image2.jpg" alt="dummy image" class="img-thumbnail"

    h5 画像：枠あり、2カラム => 1カラム
    p 枠なしの場合は img から .img-thumbnail を削除
    .row.container.dcf-section-box-img
      .col-sm-6.col-md-6.col-change
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-sm-6.col-md-6.col-change
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-sm-6.col-md-6.col-change
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"

    h5 画像：枠あり、2カラム保持
    p 枠なしの場合は img から .img-thumbnail を削除
    .row.container.dcf-section-box-img
      .col-xs-6.col-sm-6.col-md-6
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-6.col-sm-6.col-md-6
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-6.col-sm-6.col-md-6
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"

    h5 画像：枠あり、3カラム => 1カラム
    p 枠なしの場合は img から .img-thumbnail を削除
    .row.container.dcf-section-box-img
      .col-sm-4.col-md-4.col-change
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-sm-4.col-md-4.col-change
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-sm-4.col-md-4.col-change
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-sm-4.col-md-4.col-change
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-sm-4.col-md-4.col-change
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"

    h5 画像：枠あり、3カラム保持
    p 枠なしの場合は img から .img-thumbnail を削除
    .row.container.dcf-section-box-img
      .col-xs-4.col-sm-4.col-md-4
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-4.col-sm-4.col-md-4
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-4.col-sm-4.col-md-4
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-4.col-sm-4.col-md-4
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-4.col-sm-4.col-md-4
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"

    h5 画像：枠あり、4カラム => 2カラム => 1カラム
    p 枠なしの場合は img から .img-thumbnail を削除
    .row.container.dcf-section-box-img
      .col-xs-6.col-md-3.col-change
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-6.col-md-3.col-change
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-6.col-md-3.col-change
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-6.col-md-3.col-change
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-6.col-md-3.col-change
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-6.col-md-3.col-change
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-6.col-md-3.col-change
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"

    h5 画像：枠あり、4カラム => 2カラム
    p 枠なしの場合は img から .img-thumbnail を削除
    .row.container.dcf-section-box-img
      .col-xs-6.col-sm-3.col-md-3
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-6.col-sm-3.col-md-3
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-6.col-sm-3.col-md-3
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-6.col-sm-3.col-md-3
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-6.col-sm-3.col-md-3
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-6.col-sm-3.col-md-3
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-6.col-sm-3.col-md-3
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"

    h5 画像：枠あり、4カラム保持
    p 枠なしの場合は img から .img-thumbnail を削除
    .row.container.dcf-section-box-img
      .col-xs-3.col-md-3
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-3.col-md-3
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-3.col-md-3
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-3.col-md-3
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-3.col-md-3
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-3.col-md-3
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"
      .col-xs-3.col-md-3
        img src="/shared/img/dummy-image.jpg" alt="dummy image" class="img-thumbnail"

