@charset "UTF-8";

@import "compass/css3/";

@mixin hide() {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.dcf-style {
	margin: 0;
	padding: 0;
	width: 100%;

//

.dcf-wrapper {
	margin: 0;
	padding: 0;
}

.dcf-header-box {
	margin: 0;
	padding: 0;
	width: 100%;
}

.dcf-header-logo-top {
	margin: 110px auto 20px auto;
	padding: 0;
	text-align: center;
	//
	h1 {
		margin: 0;
		padding: 0;
		font-size: 72px;
		font-family: 'Arvo';
		font-weight: bold;
		//
		a {
			color: #b96f1f;
			//
			&:hover {
				text-decoration: none;
				opacity: 0.8;
			}
		}
	}
	img {
		margin: 8px auto 4px auto;
		border: 4px solid #fff;
		@include border-radius(100%);
		z-index: 99;
		width: 100px;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
	}
	p {
		color: #fff;
		font-size: 16px;
		//
		span {
			display: block;
		}
	}
}

.dcf-header-logo {
	margin: 86px auto 16px auto;
	padding: 0;
	text-align: center;
	//
	h1 {
		margin: 0;
		padding: 0;
		font-size: 26px;
		font-family: 'Arvo';
		font-weight: bold;
		//
		a {
			color: #b96f1f;
			//
			&:hover {
				text-decoration: none;
				opacity: 0.8;
			}
		}
	}
	img {
		margin: 8px auto 4px auto;
		border: 3px solid #fff;
		@include border-radius(100%);
		z-index: 99;
		width: 72px;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
	}
	p {
		color: #fff;
		font-size: 16px;
		//
		span {
			display: block;
		}
	}
}

.dcf-nav-box {
	z-index: 1;
	background-color: #b96f1f !important;
	border: none !important;
	//
	.navbar-toggle {
		background-color: #976024 !important;
		border: 1px solid #fff !important;
	}
	.navbar-collapse {
		margin: 0 !important;
		padding: 0 !important;
		//
		@media (max-width: 768px) {
			border-top: 1px solid #fff !important;
		}
	}
}

.dcf-nav-box-list {
	z-index: 999;
	font-size: 12px !important;
	//
	a {
		color: #fff !important;
		//
		&:hover {
			opacity: 0.8 !important;
		}
		//
		@media (max-width: 768px) {
			border-bottom: 1px solid #fff !important;
			background-color: #976024 !important;
		}
	}
	.active a {
		background-color: #976024 !important;
	}
	//
	@media (max-width: 768px) {
		margin: 0 !important;
	}
}

.dcf-main-box {
	margin: 0;
	padding: 0 0 24px 0;
	//
	.container {
		margin: 0 auto;
	}
}

.dcf-description {
	margin: 0 0 18px 0;
	text-align: center;
	//
	h2 {
		margin: 0 auto 24px auto;
		padding: 12px 8px;
		font-size: 38px;
		font-family: 'Arvo';
		border-top: #b96f1f 4px solid;
		border-bottom: #b96f1f 4px solid;
		display: inline-block;
		//
		span {
			line-height: 1.6;
			font-size: 18px;
			display: block;
		}
	}
	p {
		margin: 0 32px;
		font-size: 16px;
		color: #b96f1f;
		text-align: center;
		//
		@media (max-width: 760px) {
			text-align: left;
		}
		//
		span {
			display: block;
			//
			@media (max-width: 760px) {
				display: inline;
			}
		}
		&.dcf-description-top {
			margin-bottom: 32px !important;
		}
	}
	.dcf-description-eyecatch {
		margin: 0 0 24px 0;
		height: 140px;
		background-image: url(../img/description-eyecatch.jpg);
		background-repeat: no-repeat;
		background-size: 100%;
		//
		@media (max-width: 540px) {
			height: 60px;
		}
	}
}

.dcf-archive {
	margin-bottom: 36px;
	//
	.dcf-archive-disable {
		opacity: 0.4;
		//
		a {
			pointer-events:none;
		}
	}
}

.dcf-archive-box {
	margin-bottom: 36px;
	//
	h2 {
		font-size: 24px;
		font-family: 'Arvo',"ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ";
		font-weight: bold;
		//
		span {
			padding-left: 6px;
			font-size: 16px;
			font-weight: normal;
		}
		a {
			display: block;
			//
			&:hover {
				text-decoration: none;
				color: #4e3f2f;
			}
		}
	}
	a {
		display: block;
		//
		&:hover {
			opacity: 0.8;
		}
	}
	.img-rounded {
		margin: 0 auto;
		@include border-radius(8px);
		width: 100%;
		display: block;
	}
	.btn {
		width: 100%;
		font-size: 12px;
		font-weight: bold;
		//
		&:hover {
			color: #4e3f2f !important;
			background-color: #f7f7f7 !important;
		}
	}
}

.dcf-resume-box {
	margin-bottom: 12px !important;
	max-width: 768px;
	//
	h3 {
		padding: 0 14px;
		font-size: 16px;
		font-weight: bold;
		color: #555555;
	}
	.btn {
		font-size: 12px;
	}
	.col-xs-12 {
		margin-bottom: 18px !important;
	}
}

.dcf-section-box {
	margin-bottom: 24px !important;
	//
	h3 {
		margin-top: 0 !important;
		margin-bottom: 36px !important;
		padding: 8px;
		font-size: 24px;
		border-top: #b96f1f 1px solid;
		border-bottom: #b96f1f 1px solid;
	}
	h4 {
		margin-bottom: 24px !important;
		padding: 0 8px;
		font-size: 20px;
		font-weight: bold;
		color: #555555;
	}
	h5 {
		margin-bottom: 24px !important;
		padding: 0 8px;
		font-size: 16px;
		font-weight: bold;
		color: #555555;
	}
	p {
		margin-bottom: 24px !important;
		padding: 0 8px;
	}
	ul, ol {
		margin-bottom: 24px !important;
	}
	blockquote {
		margin-bottom: 24px !important;
		padding: 2px 14px 6px 14px;
		font-size: 14px;
		color: #b96f1f;
		border-left: 8px solid #f1e2d2;
		//
		p:last-child {
			margin-bottom: 0 !important;
		}
	}
	table {
		margin-bottom: 24px !important;
		width: 100%;
		table-layout: fixed;
		border: 1px solid #dfb88e;
		border-collapse: collapse;
		//
		th,td {
			padding: 6px 8px 7px;
			border: 1px solid #dfb88e;
		}
		th {
			padding: 8px;
			background-color: #f1e2d2;
			font-weight: bold;
			text-align: left;
		}
		td {
			padding: 8px;
			background-color: #ffffff;
		}
		caption {
			display: none;
		}
	}
	.dcf-section-box-img, .dcf-section-box-img-keep, .dcf-section-box-img-eyecatch {
		margin-bottom: 24px !important;
		//
		div {
			margin-bottom: 12px !important;
			//
			&.col-change {
				@media (max-width: 640px) {
					width: 100% !important;
				}
			}
		}
	}
	.dcf-section-box-img {
		//
		img {
			width: 100% !important;
		}
	}
	.dcf-section-box-img-eyecatch {
		margin-bottom: 48px !important;
	}
}

.dcf-footer-box {
	margin: 0;
	padding: 4px 32px;
	background-color: #b96f1f;
	color: #fff;
	//
	p {
		margin: 0;
		text-align: right;
	}
}

//
}

//margin-top
@for $i from 0 through 100 {
	.dcf-utl-mt#{$i} {
		margin-top: #{$i}px !important;
	}
}

//margin-bottom
@for $i from 0 through 100 {
	.dcf-utl-mb#{$i} {
		margin-bottom: #{$i}px !important;
	}
}

//table cell width
@for $i from 0 through 100 {
	.dcf-utl-cw#{$i} {
		width: #{$i}% !important;
	}
}

//utl-align
.dcf-utl-al {
	text-align:left !important;
}
.dcf-utl-ac {
	text-align:center !important;
}
.dcf-utl-ar {
	text-align:right !important;
}

//vertical-align
.dcf-utl-vt {
	vertical-align:top !important;
}
.dcf-utl-vm {
	vertical-align:middle !important;
}
.dcf-utl-vb {
	vertical-align:bottom !important;
}


